body{
  font-family: 'Roboto', sans-serif;

  margin:auto;
  max-width:33em;
  line-height:1.6;
  font-size:1.3em;
  color:#555;
  padding:0.5em;


  background-color:#EEEEEE;
}

h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
  line-height:1.2
}

a{
  text-decoration: none;
  color:#0077aa
}


div.fleft{
  float: left;
  width: 55%;
  padding-right: 1em
}
